body {
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./imagenes/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

.container {
    background-color: rgba(174, 26, 26, 0.458);
    background-position: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    padding-left: 30px;


}

a{
    color: aliceblue;
    font-size: large;

}

img{
display: flex;
flex-direction: row;
display: flex;
width: 50px; 
}






